#contenedor1 {
  display: flex;
  background-color: #000;
  height: 300px;
  color: white;
  font-size: 2rem;
}

#elemento1 {
  background-color: #0078A6;
}

#elemento2 {
  flex-shrink: 0;
  background-color: #0084B6;
}

#elemento3 {
  background-color: #008CC1;
}

